
Workspace/*
uRADMonitorX/bin/
uRADMonitorX/obj/
uRADMonitorX.GuiTest/bin/
uRADMonitorX.GuiTest/obj/
uRADMonitorX.Tests/bin/
uRADMonitorX.Tests/obj/
uRADMonitorX.IntegrationTests/bin/
uRADMonitorX.IntegrationTests/obj/
uRADMonitorX.suo
packages/
/.vs/
*.user
